<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>商品处理</title>
	<script src="vue.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="css/supermarket_deal.css"/>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../public/js/vue.js" ></script>
	<script type="text/javascript" src="../public/js/ajaxUtil.js" ></script>
</head>
<style>
	table{
		height: 80%;
		font-size: 20px;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	table td{
		text-align: center;
	}
	table th{
		text-align: center;
	}
</style>
<body>
<div class="header">
	<p>超市管理系统</p>
</div>
<div class="center">
	<div class="center_of_left">
		<div id="Personal_management">
			<p><a href="/zbl/supermarket_pcenter.html" >个人中心&gt;</a></p>
		</div>
		<div id="Commodity_management">
			<p><a href="#" class="nav-item">商品管理&gt;</a></p>
		</div>
		<div id="Staff_management">
			<p>	<a href="/ych/supermarket_manager.html">员工管理&gt;</a></p>
		</div>
	</div>
	<div class="center_of_right" id="main">
		<table style="width: 90%; margin-left: 5%;" class="table table-striped table-hover table-bordered">
			<tr v-for="item in items">
				<th>出库单号</th>
				<td id="num">{{item.num}}</td>
			</tr>
			<tr v-for="item in items">
				<th>商品号</th>
				<td id="cnum">{{item.cnum}}</td>
			</tr>
			<tr v-for="item in items">
				<th>出库日期</th>
				<td id="outdate">{{item.outdate}}</td>
			</tr>
			<tr v-for="item in items">
				<th>出库数量</th>
				<td id="sum">{{item.sum}}</td>
			</tr>
			<tr v-for="item in items">
				<th>经手人工号</th>
				<td id="stu_num">{{item.stu_num}}</td>
			</tr>
		</table>
	</div>
</div>
</body>
<script type="text/javascript">
	var reg = new RegExp("(^|&)" + "num" + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
	var r = window.location.search.substr(1).match(reg);  //匹配目标参数
	var num = unescape(r[2]); //返回参数值
	
	var v1 = new Vue({
		el: "#main",
		data:{
			items:[]
		},
		mounted() {
			this.getData();
		},
		methods:{
			getData(){
				ajax({
					method: HTTP_METHOD.GET,
					url: "/deal/stock_out_detail?num="+num,
					async: true,
					type: HTTP_RESPONSE_TYPE.JSON,
					callback: (datas) => {
						if (datas == "") {
							alert("请不要越权操作！")
						} else {
							this.items = datas
							console.log(datas)
						}

					}
				})
			}
		}
	})
</script>
</html>


