<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>商品处理</title>
	<script src="vue.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="css/supermarket_deal.css"/>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../public/js/vue.js" ></script>
	<script type="text/javascript" src="../public/js/ajaxUtil.js" ></script>
	<script src="js/param.js"></script>
</head>
<body>
<div class="header">
	<p>超市管理系统</p>
</div>
<div class="center">
	<div class="center_of_left">
		<div id="Personal_management">
			<p>个人中心</p>
		</div>
		<div id="Commodity_management">
			<p>商品管理</p>
		</div>
		<div id="Staff_management">
			<p>员工管理</p>
		</div>
	</div>
	<div class="center_of_right">
		<div id="top">
			<div id="identify">
				<p><img src="img/timg.jpeg" class="img-circle"></p>
				<div id="name_pos">
					苏若愚/管理员
				</div>
			</div>
			<div id="catelog">
				<p>商品区</p>
				<div id="region">
					全部/瓜果区/生鲜区/。。。
				</div>
			</div>
		</div>
		<div id="butoom">
			<div id="left">
				<img src="img/shucai.jpg" class="img-thumbnail">
				<div id="Lower_shelf">
					下架
				</div>
			</div>
			<div id="center">
				<div id="Commodity_Name">
					<p v-for="item in items">{{item.name}}</p>
				</div>
				<div id="Inventory">
					<!--库存量<p v-for="store in stores">{{store.sum}}</p>-->
				</div>
				<div id="Unit_Price">
					<p v-for="item in items">{{item.price}}</p>
				</div>
				<div id="month_total">
					月销售量/月销售总额/月利润
				</div>
			</div>
			<div id="right">
				<div id="modify">
					修改
				</div>
				<div id="change_unit_price">
					修改单价
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<script type="text/javascript">
	var v1 = new Vue({
		el: "#center",
		data:{
			items:[]
		},
		created(){
			this.getData();
		},
		methods:{
			getData(){
				var Request = new Object();
				Request = GetRequest();
				var cnum = Request['cnum'];
				this.cnum = cnum
				ajax({
					method: HTTP_METHOD.GET,
					url: "/deal/commodityByCnum?cnum="+cnum,
					async: true,
					type: HTTP_RESPONSE_TYPE.JSON,
					callback: (datas) => {
						this.items = datas
					}
				})
			}
		}
	})
</script>
</html>


