body {
	overflow: hidden;
}

#header{
	position: relative;
	margin-top: 0;
	text-align:center;
	background: rgba(45,45,45,1  );
	height: 100px;
	

}
#header h2{
	position: absolute;

	left: 50%;
	transform: translateX(-50%);
	color: white;
}


#center{
	height: 550px;
	
}
#left{
	background: rgba(30,34,35,1);
	float: left;
	width: 15%;
	height: 700px;
	color: white;

}

#left ul{
	width: 100%;
}
#left ul li{
	list-style-type: none;
	padding-bottom: 10px;
}
#left a{
	padding:5px 15px;
	font-size:20px;
	text-decoration:none;
	margin-left:10px;
	display:block;

}

.nav-item {
	color: orange;
}
.nav-item:hover {
	color: orange;
}
.nav-item:focus {
	color: orange;
}


/*个人中心*/
#right{
	width: 85%;
	height: 700px;
	float: left;
	background: white;
}


#top{
	width: 100%;
	height: 130px;
	border-bottom: 1px solid red;
	
}
#person{
	height: 100%;
	width: 100px;
	border-right:1px solid red ;
	float: left;
}
#figure{
	height: 100px;
	width: 100px;
	border-bottom: 1px solid red;
}
#name{
	height: 30px;
	width: 100px;
}
#name input{
	height: 30px;
	width: 100px;
	text-align: center;
	font-family: "KaiTi";
}


#com_region{
	width: 500px;
	height: 100%;
	margin-left:50%;
	transform: translateX(-50%);
	/*border: 1px black solid;*/
	text-align: center;

}

#com_region h3{
	margin-top: 0;
	padding: 10px;
}
#sort{
	width: 400px;
	height: 50%;
/*	border: 1px solid green;*/
	margin-left: 50px;
	/*margin-top: 30px;*/
}
#sort select{
	margin: 0 auto;
	width: 300px;
	height: 50px;
	font-size: 150%;
	font-family: arial;
}

#b1{
	
	float: left;
	height: 570px;
	width: 60%;
	background: white;
	
}

#ckd{
	padding: 20px;
	padding-left: 100px;
}
#onload{
	margin: 20px;
	margin-left: 100px;
}
#onloadcxd{
	width: 120px;
	height: 50px;
	margin-bottom: 30px;
}
#tijiao button{
	margin-top: 30px;
	width: 150px;
	height: 50px;
	color: white;
	background: blue;
	font-size: 120%;
	border-radius: 20px;
	outline: none;
	border: none;
}
#b2{
	
	float:left;
	height: 570px;
	width: 40%;
	background: white;
	
	
}
#history{
	width: 300px;
	height: 500px;
	
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 200px;
	background: rgb(243,243,243);
}
#history ul{
	float: left;
	margin-top: 20px;
	width:300px ;
	/*margin-left: ;*/
}
#history ul li{
	list-style-type:none ;
	padding-bottom: 5px;
	font-style: italic;
}
#history span{
	float: left;
	margin-left:40px ;
	
}
#his{
	margin-top: 120px;

}
#history span a{
	font-style: italic;
}
