body {
	overflow: hidden;
}

#header{
	position: relative;
	margin-top: 0;
	text-align:center;
	background: rgba(45,45,45,1  );
	height: 100px;	
}

#header h2{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	color: white;
}

#center{
	height: 550px;
}

#left{
	background: rgba(30,34,35,1);
	float: left;
	width: 15%;
	height: 700px;
	color: white;

}

#left ul{
	width: 100%;
}
#left ul li{
	list-style-type: none;
	padding-bottom: 10px;
}
#left a{
	padding:5px 15px;
	font-size:20px;
	text-decoration:none;
	margin-left:10px;
	display:block;

}

.nav-item {
	color: orange;
}
.nav-item:hover {
	color: orange;
}
.nav-item:focus {
	color: orange;
}


/*个人中心*/
#right{
	width: 85%;
	height: 700px;
	float: left;
	background: rgba(45,45,45,0.7);
}


#top{
	width: 100%;
	height: 130px;
	border-bottom: 1px solid red;
	
}
#person{
	height: 100%;
	width: 100px;
	border-right:1px solid red ;
	float: left;
}
#figure{
	height: 100px;
	width: 100px;
	border-bottom: 1px solid red;
}
#name{
	height: 30px;
	width: 100px;
}
#name input{
	height: 30px;
	width: 100px;
	text-align: center;
	font-family: "KaiTi";
}


/*信息显示栏*/
.info{
	height: 100%;
	width: 250px;
	float: left;
	margin-left: 20px;
	/*border-right: 1px solid red;*/
}
.info input{
	height: 30px;
	width: 120px;
}
.info span{
	float: left;
	width: 100px;
	font-size: 120%;
	font-family: "KaiTi";
}
.infotop{
	margin-top: 15px;
	margin-bottom: 10px;
}
.infobottom{
	margin-top: 40px;
	margin-bottom: 15px;
}

/*信息修改栏*/


#modify_choice{
	width: 100%;
	height: 450px;
}

.modiinfo{
	width: 100%;
	height: 40px;
	margin-top: 10px;
	margin-left: 10px;
	font-family: "KaiTi";
}
#bottom span{
	float: left;
	width: 100px;
	font-size: 120%;
}
#bottom h3{
	margin-left: 10px;
	margin-bottom: 30px;
}



