.clearfix:after {     
    content: ".";     
    display: block;  
    clear: both;     
    visibility: hidden;     
    height: 0;   
    font-size:0;   
}

body, html{
	padding: 0px;
	margin: 0px;
	height: 100%;
}
/* header part */
.header{
	height: 16%;
	width: 100%;
	border: solid 2px rgb(130,130,130);
}

.header p{
	font-size: 30px;    
	text-align: center;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translateX(-50%)  translateY(-50%);
}

#header{
	position: relative;
	margin-top: 0;
	text-align:center;
	background: rgb(252, 248, 7);
    height: 80px;
}

#header h2{
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    font-weight: 500;
	color: rgb(223, 8, 8);
}
/* center part */
.center{
	height: 84%;
	width: 100%;
}

.center_of_left{
	float: left;
    width: 17.5%;
	/* width: 17.5%; */
	height: 100%;
	border: solid 1px rgb(130,130,130);
}

#Personal_management{
	text-align: center;
	height: 8%;
	border-bottom: solid 1px rgb(130,130,130);
}

#Personal_management p{
	position: relative;
	left: 50%;
	top: 50%;
	transform: translateX(-50%)  translateY(-50%);
}

#Commodity_management{
	text-align: center;
	height: 8%;
	border-bottom: solid 1px rgb(130,130,130);
}

#Commodity_management p{
	position: relative;
	left: 50%;
	top: 50%;
	transform: translateX(-50%)  translateY(-50%);
}

#Staff_management{
	text-align: center;
	height: 8%;
	border-bottom: solid 1px rgb(130,130,130);
}

#Staff_management p{
	position: relative;
	left: 50%;
	top: 50%;
	transform: translateX(-50%)  translateY(-50%);
}

#Staff_management a {
	color: orange;
}
.center_of_left a:hover {
	color: orange;
}
.center_of_left a:focus {
	color: orange;
}

#right{
    float: left;
    margin-left: 30px;
    margin-top: 40px;
    width: 75%;
    height: 100%;
}

#above{
    height: 185px;
    /* border: solid 5px; */
}

#plogo{
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}

#hello{
    float: right;
    margin-top: 20px;
    margin-right: 40px;
}

#branch{
    float: right;
    margin-top: 30px;
    margin-right: 60px;
}

/* ������ť��ʽ */
.dropbtn {
    background-color: rgb(10, 93, 248);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* ���� <div> - ��Ҫ��λ�������� */
.dropdown {
    position: relative;
    display: inline-block;
}

/* �������� (Ĭ������) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* �����˵������� */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* �������ȥ���޸������˵�������ɫ */
.dropdown-content a:hover {background-color: #f1f1f1}

/* ���������ȥ����ʾ�����˵� */
.dropdown:hover .dropdown-content {
    display: block;
}

/* ������������ʾ���޸�������ť�ı�����ɫ */
.dropdown:hover .dropbtn {
    background-color: #fc0707;
}

#choice{
    float: right;
    margin-top: 100px;
    margin-right: -100px;
}

/* employee information */
#below{
    margin-left: 100px;
    margin-right: 100px;
    /* border: solid 5px; */
}

#employeeinfo{
    width: 80%;
    height: 240px;
    /* border: solid 5px; */
}

.em_intro{
    width: 100%;
    /* border: solid 5px; */
}

.em_detail{
    width: 100%;
    /* border: solid 2px; */
}

#operation{
    margin-bottom: 80px;
}

/* table */
table.imagetable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
}
table.imagetable th {
    background:#b5cfd2;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}
table.imagetable td {
    background:#dcddc0;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}
