body,html{
    margin: 0px;
    padding: 0px;
    height: 100%;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    font-size:0;
}
/******************header*************************/
.header{
    width: 100%;
    height: 16%;
    border: 1px solid black;
}
.header p{
    text-align: center;
    font-size: 30px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
/*********************content********************/
.content{
    height: 84%;
    width: 100%;
}
.content a:link{
    text-decoration: none;
    color: deepskyblue;
}
.content a:visited{
    text-decoration: none;
    color: deepskyblue;
}
.content a:hover{
    text-decoration: none;
    color: orangered;
}
.content a:active{
    text-decoration: none;
    color: black;
}
.content_left{
    width: 17.5%;
    height: 100%;
    border: 1px solid black;
    float: left;
}
/*.content_left p{

	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}*/
#commodity_purchase{
    width: 100%;
    height: 8%;
    border-bottom: 1px solid black;
}
#commodity_purchase p{
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#commodity_sold{
    width: 100%;
    height: 8%;
    border-bottom: 1px solid black;
}
#commodity_sold p{
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#system_out{
    width: 100%;
    height: 8%;
    border-bottom: 1px solid black;
}
#system_out p{
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.content_right{
    width: 82.5%;
    height: 100%;
    border: 1px solid black;
    float: right;
}
/*.content_right_up{
	width: 100%;
	height: 16%;
	border: 1px solid black;
}
.content_right_up input{
	width: 36%;
	border: 1px solid black;
}
#commodityNumber{
	position: relative;
	width: 30%;
	float: left;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}
#commodityName{
	position: relative;
	width: 30%;
	float: left;
	top: 50%;
	transform: translateY(-50%);
	/*border: 1px solid black;*/
/*text-align: center;
}
#commoditySearch{
position: relative;
width: 30%;
float: right;
top: 50%;
transform: translateY(-50%);
text-align: center;
}
button{
width: 36%;
border-radius: 6px;
background-color: white;
outline: none;
}*/
.content_right_down{
    width: 100%;
    height: 100%;
    border: 1px solid black;
}
.content_right_down form{
    width: 80%;
    height: 80%;
    border: 1px solid black;
    margin-left: 5%;
    margin-top: 3%;
}
#up{
    width: 100%;
    height: 80%;
    border-bottom: 1px dashed #000000;
}
#up_left{
    position: relative;
    width: 25%;
    height: 100%;
    float: left;
}
#upimg{

    width: 80%;
    height: 40%;
    margin-top: 50%;
    margin-left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
#upimg img{
    width: 100%;
    height: 100%;
    border: 1px dashed black;
}
#upfile{
    width: 80%;
    height: 40%;
    margin-left: 50%;
    transform: translateX(-50%);

}
#up_right{
    position: relative;
    width: 75%;
    height: 100%;
    float: left;
    border-left: 1px dashed cadetblue;
}
#input_1,#input_2,#input_3,#input_4,#input_5,#input_6{
    padding-left: 3%;
    width: 100%;
    height: 15%;
}
#up_right input{
    width: 20%;
}
/*.content_right_down form img{
	width: 16%;
	height: 30%;
	border: 1px dashed black;
}*/
.content_right_down form label{
    display: inline-block;
    width: 24%;
    height: 8%;
    line-height: 8%;
    text-align: justify;
    text-align-last: justify;

}
#down{
    width: 100%;
    height: 20%;
}
#down input{
    position: relative;
    width: 12%;
    height: 40%;
    display: block;
    margin-left: 40%;
}

