body,html{
	margin: 0px;
	padding: 0px;
	height: 100%;
}
.clearfix:after {     
    content: ".";     
    display: block;  
    clear: both;     
    visibility: hidden;     
    height: 0;   
    font-size:0;   
}
/******************header*************************/
.header{
	width: 100%;
	height: 16%;
	border: 2px solid rgb(130,130,130);
}
.header p{
	text-align: center;
	font-size: 30px;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}
/*********************center********************/
.center{
	height: 84%;
	width: 100%;
}
/*********************center_of_left********************/
.center_of_left{
	float: left;
	width: 17.5%;
	height: 100%;
	border: solid 1px rgb(130,130,130);
}

#Personal_management{
	text-align: center;
	height: 8%;
	border-bottom: solid 1px rgb(130,130,130);
}

#Personal_management p{
	position: relative;
	left: 50%;
	top: 50%;
	transform: translateX(-50%)  translateY(-50%);
}

#Commodity_management{
	text-align: center;
	height: 8%;
	border-bottom: solid 1px rgb(130,130,130);
}

#Commodity_management p{
	position: relative;
	left: 50%;
	top: 50%;
	transform: translateX(-50%)  translateY(-50%);
}

#Staff_management{
	text-align: center;
	height: 8%;
	border-bottom: solid 1px rgb(130,130,130);
}

#Staff_management p{
	position: relative;
	left: 50%;
	top: 50%;
	transform: translateX(-50%)  translateY(-50%);
}
.nav-item {
	color: orange;
}
.nav-item:hover {
	color: orange;
}
.nav-item:focus {
	color: orange;
}
/*********************center_of_right********************/
.center_of_right{
	float: left;
	width: 82.5%;
	height: 100%;
}
#center_up{
	width: 100%;
	height: 20%;
	border-bottom: solid 1px rgb(130,130,130);
}
#operator{
	width: 100%;
	height: 50%;
	position: relative;
	top: 25%;
}
#operator p,select{
	display: inline-block;
	height: 50%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	left: 12%;
}
#operator input{
	display: inline-block;
	width: 8%;
	height: 66%;
	float: right;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	right: 24%;
	background-color: dodgerblue;
	border-radius:6% ;
	border: none;
}
#center_goods{
	width: 100%;
	height: 80%;
	overflow: scroll;
}
#center_goods table{
	width: 100%;
	position: relative;
	display: block;
	margin: 0 auto;
	border-collapse: collapse;
	text-align: center;
}
.title{
	font-weight: bold;
}
#center_goods table>tr{
	display: block;
	border: solid 1px grey;
}
#center_goods table td{
	width: 3%;
	padding: 1% 0;
}
.goods{
	text-align: left;
	width: 100%;
	height: 20%;
}
.datein{
	border: none;
}
.bton button{
	width: 24%;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: grey;
}
.bton input{
	width: 80%;
	border: none;
	outline: none;
	text-align: center;
	background-color: lightgrey;
	border-bottom: solid 1px black;
}
.bton-1{
	font-weight: bold;
	border: none;
	outline: none;
	background-color: dodgerblue;
	border-radius: 6%;
}
.innum{
	width: 80%;
	height: 60%;
	border: none;
	outline: none;
	text-align: center;
	background-color: lightgrey;
	border-bottom: solid 1px black;
}
