body,html{
	margin: 0px;
	padding: 0px;
	height: 100%;
}
.clearfix:after {     
    content: ".";     
    display: block;  
    clear: both;     
    visibility: hidden;     
    height: 0;   
    font-size:0;   
}
/******************header*************************/
.header{
	width: 100%;
	height: 16%;
	border: 2px solid rgb(130,130,130);
}
.header p{
	text-align: center;
	font-size: 30px;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}
/*********************center********************/
.center{
	height: 84%;
	width: 100%;
}
/*********************center_of_left********************/
.center_of_left{
	float: left;
	width: 17.5%;
	height: 100%;
	border: solid 1px rgb(130,130,130);
}

#Personal_management{
	text-align: center;
	height: 8%;
	border-bottom: solid 1px rgb(130,130,130);
}

#Personal_management p{
	position: relative;
	left: 50%;
	top: 50%;
	transform: translateX(-50%)  translateY(-50%);
}

#Commodity_management{
	text-align: center;
	height: 8%;
	border-bottom: solid 1px rgb(130,130,130);
}

#Commodity_management p{
	position: relative;
	left: 50%;
	top: 50%;
	transform: translateX(-50%)  translateY(-50%);
}

#Staff_management{
	text-align: center;
	height: 8%;
	border-bottom: solid 1px rgb(130,130,130);
}

#Staff_management p{
	position: relative;
	left: 50%;
	top: 50%;
	transform: translateX(-50%)  translateY(-50%);
}
#Supply_management{
	text-align: center;
	height: 8%;
	border-bottom: solid 1px rgb(130,130,130);
}
#Supply_management p{
	position: relative;
	left: 50%;
	top: 50%;
	transform: translateX(-50%)  translateY(-50%);
}
.nav-item {
	color: orange;
}
.nav-item:hover {
	color: orange;
}
.nav-item:focus {
	color: orange;
}
/*********************center_of_right********************/
.center_of_right{
	float: left;
	width: 82.5%;
	height: 100%;
}
#center_up{
	width: 100%;
	height: 20%;
	border-bottom: solid 1px rgb(130,130,130);
}
#operator{
	width: 50%;
	height: 50%;
	position: relative;
	top: 25%;
	float:left ;
}
#operator p,select{
	display: inline-block;
	height: 50%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	left: 12%;
}
#operator input{
	display: inline-block;
	width: 8%;
	height: 66%;
	float: right;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	right: 24%;
	background-color: dodgerblue;
	border-radius:6% ;
	border: none;
}
#addSupply{
	width: 50%;
	height: 100%;
	position: relative;
	float: left;
	text-align: center;
	/*border: 1px solid black;*/
}
#addSupply a{
	text-decoration: none;
	font-weight: bold;
	border: 1px solid grey;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
#center_goods{
	width: 100%;
	height: 80%;
}
.center_commodity{
	width: 100%;
	height: 100%;
	overflow: scroll;
}
.center_commodity table{
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0 auto;
	border-collapse: collapse;
	text-align: center;
}
.center_commodity table td{
	width: 13%;
	height: 24%;
}
.center_commodity input{
	width: 60%;
}
.center_commodity img{
	width: 100%;
	height: 50%;
}
.push{
	border: none;
	outline: none;
	background-color: dodgerblue;
	border-radius: 3px;
}
/*.bton-ar{
	border: none;
	outline: none;
	background-color: dodgerblue;
	border-radius: 3px;
}*/
