<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>个人中心</title>
		<link rel="stylesheet" type="text/css" href="css/pcenter.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css"/>
		<script src="../public/js/ajaxUtil.js" type="text/javascript" charset="utf-8"></script>
		<script src="../public/js/vue.js"></script>
		<script type="text/javascript" src="../public/js/jquery-1.12.4.js" ></script>
		<script src="js/supermarket_pcenter.js" type="text/javascript" charset="utf-8"></script>

	</head>
	<body>
		<div class="header">
			<p>超市管理系统</p>
		</div>
		<div class="center">
			<div class="center_of_left">
				<div id="Personal_management">
					<p><a href="#" >个人中心&gt;</a></p>
				</div>
				<div id="Commodity_management">
					<p><a href="/ljy/commodity.html">商品管理&gt;</a></p>
				</div>
				<div id="Staff_management">
					<p>	<a href="/ych/supermarket_manager.html">员工管理&gt;</a></p>
				</div>
			</div>
			<div id="center_of_right" class="center_of_right">
				<div id="top">
					<div id="identify">
						<p>
							<!--<input type="image" src="http://localhost:8080/image/person" class="img-circle" id="fig"  />-->
							<img src="/image/person" class="img-circle" id="fig" >
						</p>
						<div id="name_pos">
							{{vname}}
						</div>
					</div>

					<div id="second" class="info">
						<div class = "infotop">
							<span >
								性别：
							</span> <input type="" name="gender" id="gender"  v-model="vgender" readonly/>
						</div>
						<div class ="infobottom">
							<span >
								年龄：
							</span> <input type="" name="age" id="age"  v-model="vage" readonly/>
						</div>
					</div>
					<div id="third" class="info">
						<div class = "infotop">
							<span >
								职位：
							</span> <input type="" name="position" id="position"  v-model="vposition" readonly/>
						</div>
						<div class ="infobottom">
							<span >
								工号：
							</span> <input type="" name="stu_num" id="stu_num"  v-model="vstu_num" readonly/>
						</div>
					</div>
					<div id="forth" class="info">
						<div class = "infotop">
							<span >
								负责区域：
							</span> <input type="" name="region" id="region"  v-model="vregion" readonly/>
						</div>
						<div class ="infobottom">
							<span >
								工龄：
							</span> <input type="" name="seniority" id="seniority"  v-model="vseniority" readonly/>
						</div>
					</div>
					<div id="last" class="info">
						<div class = "infotop">
							<span >
								当前工资：
							</span> <input type="" name="salary" id="salary"  v-model="vsalary" readonly/>
						</div>
						<div class ="infobottom">

						</div>
					</div>
				</div>
				<div id="bottom">
					<h3>信息修改：</h3>
					<div id="modify_choice">
						<div class="modiinfo">
							<span>姓名:</span>
							<input type="text" name="modi_name" id="modi_name" value="" v-model="mname" maxlength="10"/>
						</div>
						<div class="modiinfo">
							<span>性别:</span>
							<input type="text" list="gender_list" name="modi_gender" id="modi_gender" value="" v-model="mgender"/>
							 <datalist id="gender_list">
							 	<option value="Male"></option>
							 	<option value="Female"></option>
							 	
							 </datalist>
						</div>
						<div class="modiinfo">
							<span>年龄:</span>
							<input type="text" name="modi_age" id="modi_age"  onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" value="" v-model="mage" maxlength="2"/>
						</div>
						<div class="modiinfo">
							<span>工龄:</span>
							<input type="text" name="modi_seniority" id="modi_senoirity" value="" v-model="mseniority" readonly/>
						</div>
						<div class="modiinfo">
							<span>负责区域:</span>
							<input type="text" name="modi_region" id="modi_region" value="" v-model="mregion" maxlength="10"/>
						</div>
						<div class="modiinfo">
							<span>职位:</span>
							<input type="text" name="modi_pos" id="modi_pos" value="" v-model="mposition" maxlength="10"/>
						</div>
						<div class="modiinfo">
							<span>修改密码:</span>
							<input type="text" name="modi_pas" id="modi_pas" onkeyup="value=value.replace(/[\W]/g,'') " onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))" value="" v-model="mstu_num" maxlength="20"/>
						</div>


					</div>

						<a id="figa">上传头像
							<form id="image" method="post" enctype="multipart/form-data" target="nm_iframe">
							<input id="upFigure" onchange="changepic(this)" type="file" name="file">
								</form>
							<iframe id="id_iframe" name="nm_iframe" style="display:none;"></iframe>
						</a>

					<button id="modify">修改</button>




				</div>

		</div>
		</div>

	</body>
</html>
<!--src="http://localhost:8080/image/person"-->