<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>新增商品处理</title>
		<link rel="stylesheet" type="text/css" href="css/supermarket_spgl_add.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css"/>
		<script src="../public/js/vue.js"></script>
		<script type="text/javascript" src="../public/js/jquery-1.12.4.js" ></script>
		<script type="text/javascript" src="../public/js/ajaxUtil.js"></script>

	</head>
	<body>
		<div class="header">
			<p>超市管理系统</p>
		</div>
		<div class="center">
			<div class="center_of_left">
				<div id="Personal_management">
					<p><a href="/zbl/supermarket_pcenter.html" >个人中心&gt;</a></p>
				</div>
				<div id="Commodity_management">
					<p><a href="#" class="nav-item">商品管理&gt;</a></p>
				</div>
				<div id="Staff_management">
					<p>	<a href="/ych/supermarket_manager.html">员工管理&gt;</a></p>
				</div>
			</div>
			<div class="center_of_right">
				<div id="top">
					<div id="identify">
						<p><img src="/image/person" class="img-circle"></p>
						<div id="name_pos">
							<span class="name" id="userName">名字</span>/<span class="name" id="userPosition">身份</span>
						</div>
					</div>
						<div id="com_region">
						<h3>商品区</h3>
						<div id="sort">
							<select name="select">
								<option value="all" selected="selected" id="region">全部区/瓜果区/生鲜区……</option>
<!--								<option value="fruit">水果区</option>-->
<!--								<option value="vegetable">蔬菜区</option>-->
<!--								<option value="fresh">生鲜区</option>-->
							</select>
						</div>
						
					</div>
					
				</div>
				<div id="bottom">
					<div id="b1">
						<!--<div id="ckd">
							<input type="text" name="cxd" id="cxd" value="出库单：xxx" />
							<button id="query">点此查看</button>
						</div>-->
						<div id="onload">
							<!--<button id="onloadcxd">上传出库单</button>
							<div id="">
								<span >
								没有出库单模板？<a href="#">点此下载</a>
							</span>
							</div>-->
							<div id="table">
								<table id="outTable" border="" cellspacing="" cellpadding="">
								<tr>
									<th>出库单号</th>
									<th>商品号</th>
									<th>出库日期</th>
									<th>数量</th>
<!--									<th>经手人</th>	-->
								</tr>
								<tr>
									<td width="30%"><input type="text" name="num" id="num" oninput = "value=value.replace(/[^\d]/g,'')" maxlength="15"/></td>
									<td width="25%"><input type="text" list="cnumList" name="cnum" id="cnum"  maxlength="15"/></td>
									<datalist id="cnumList">
									<option v-for="cnum in cnums">{{cnum}}</option>

								</datalist>

									<td width="30%"><input type="date" name="outdate" id="outdate" /></td>
									<td width="15%"><input type="text" name="sum" id="sum"  maxlength="5"/></td>
<!--									<td width="15%"><input type="text" name="stu_num" id="stu_num"  readonly /></td>-->
									
								</tr>
							</table>
							</div>
							
							<div id="tijiao">
								<button id="submit">确认提交</button>
							</div>
							
						</div>
						
					</div>
					<div id="b2">
						<div id="history">
							<span id="his"><h4>历史出库单</h4></span>

								<a :href="`/sry/StockOut_details.html?num=${stock.num}`" v-for="stock in stocks">{{stock.outdate}} -> {{stock.cnum}}<br /></a>



							<span><h4><a href="/ljy/historyStockOut.html?page=1">查看更多出库单...</a></h4></span>
						</div>
						
					</div>
					
					
				</div>
				
		</div>
		
		</div>
		<script src="js/supermarket_spgl.js" type="text/javascript" charset="utf-8"></script>
	<script>
		var v1 = new Vue({
			el:'#table',
			data:{
				cnums:[]
			},
			mounted() {
				this.getcnums();
			},
			methods: {
				getcnums(){
					ajax({
						method: HTTP_METHOD.POST,
						url: "/stockout/getCnum",
						async: true,
						type: HTTP_RESPONSE_TYPE.JSON,
						callback: (datas) => {
							// alert(datas);
							if (datas!="0"){
							this.cnums = datas;

						}else{
							alert("商品号查询出错！")
				}
						}
					})
				}
			}

		});
		var v2 = new Vue({
			el: '#history',
			data: {
				stocks: []
			},
			mounted() {
				this.getInfo();
			},
			methods: {
				getInfo() {
					ajax({
						method: HTTP_METHOD.GET,
						url: "/commodity/initStockOut",
						async: true,
						type: HTTP_RESPONSE_TYPE.JSON,
						callback: (datas) => {


								this.stocks = datas;

						}
					})
				}
			}
		})

		window.onload = function() {

			ajax({
				method: HTTP_METHOD.GET,
				url: "/commodity/userName",
				async: true,
				type: HTTP_RESPONSE_TYPE.TEXT,
				callback: (data) => {
					if (data != "") {
						document.getElementById("userName").innerHTML = data;
					}
				}
			})

			ajax({
				method: HTTP_METHOD.GET,
				url: "/commodity/userPosition",
				async: true,
				type: HTTP_RESPONSE_TYPE.TEXT,
				callback: (data) => {
					if (data != "") {
						document.getElementById("userPosition").innerHTML = data;
					}
				}
			})

			ajax({
				method: HTTP_METHOD.GET,
				url: "/commodity/region",
				async: true,
				type: HTTP_RESPONSE_TYPE.TEXT,
				callback: (data) => {
					if (data == "") {
						document.getElementById("region").innerHTML = "全部区";
					} else {
						document.getElementById("region").innerHTML = data;
					}
				}
			})
		}
	</script>
	</body>
</html>
